table{
    border: solid black 1px;
    border-collapse: collapse;
    width: 600px;
    height: auto;
}

th{
    width: 30%;
    border: solid black 1px;
}

td{
    width: 70%;
    border: solid black 1px;
    text-align: justify;
}



input {
    text-align: right;
}
