table{
    border: solid black 1px;
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

td{
    border: solid black 1px;
    text-align: justify;
}

th{
    border: solid black 1px;
}

input {
    text-align: right;
    width: calc(100% - 10px);
}
